shared/mr_max_temperature/
shared/data/
shared/.ssh/
prompt
shared/hadoop-3.3.6.tar.gz
shared/apachezookeeper-3.8.4-bin.tar.gz
shared/*er*_logs/
audit
docker-compose.log
1nn-2sb-entry.sh
error.err
lastnext.sh
shared/configuration/recent_master/
shared/*.*
lat_entrypoint.sh
shared/configuration/.core-site.xml
shared/configuration/.hadoop-env.sh
shared/configuration/.hdfs-site.xml
shared/configuration/.mapred-site.xml
shared/configuration/.yarn-site.xml
shared/logs/
*.gz